---
layout: default
title: DBML 2022
---

<section class="services-section">
  <div class="container">
    <!--        HEAD INFO-->
    <div class="row">
      <div class="col-md-12">
        <h2> International workshop on databases and machine learning </h2>
      </div>
      <div class="col-md-12">
        <h5> in conjunction with ICDE 2022 </h5>
      </div>
      <div class="col-md-12">
        <h5> Monday, 9 May 2022 </h5>
      </div>

      <div class="col-md-12 margin-top-2">
        <img src="/assets/img/delft.jpg" class="blog-post col-12" alt="Delft centre" width="60%">
      </div>
    </div>
  </div>

</section>

<!--        OVERVIEW-->
{% include about.html %}

<!--        KEYNOTE-->
{% include keynote.html %}

<!--        PROGRAM-->
{% include program.html %}

<!--        SUBMISSION-->
{% include submission.html %}

<!--        IMPORTANT DATES -->
{% include dates.html %}

<!--        ORGANISATION-->
{% include organisation.html %}

<!--        SPONSORS-->
{% include sponsors.html %}
