<section id="about" class="services-section">
  <div class="container">
    <div class="row text-left margin-top-2">
      <h3 class="text-left"> ABOUT </h3>
      <div class="col-md-12">
        <div class="row pr-4 pl-5">
          <p>After the increased adoption of machine learning (ML) in various applications and disciplines, a synergy
            between the database (DB) systems and ML communities emerged. Steps involved in an ML pipeline, such as data
            preparation and cleaning, feature engineering and management of the ML lifecycle, can benefit from research
            conducted by the data management community. For example, the management of the ML lifecycle requires
            mechanisms for modeling, storing and querying ML artifacts. Moreover, in many use cases pipelines require a
            mixture of relational and linear algebra operators raising the question of whether a seamless integration
            between the two algebras is possible.
          </p>
          <p>
            In the opposite direction, ML techniques are explored in core components of database systems, e.g.,
            query optimization, indexing and monitoring. Traditionally hard problems in databases, such as cardinality
            estimation, or problems with high human supervision like DB administration, might benefit more from learning
            algorithms than from rule-based or cost-based approaches.
          </p>
          <p>
            The workshop aims at bringing together researchers and practitioners in the intersection of DB and ML
            research, providing a forum for DB-inspired or ML-inspired approaches addressing challenges encountered in
            each of the two areas. In particular, we welcome new research topics combining the strengths of both fields.
          </p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pr-4 pl-5">
          <h5 class="text-left"> Who-is-Who of Dutch-Belgium Database Groups </h5>
          <p>
            One of the core goals of DBDBD is to get to know your fellow database researchers better. To make this easier,
            we will have a new special session this year: the <em>Who-is-Who-Session</em>. For this session, we kindly ask <em>every group</em> in The Netherlands or Belgium who participating at DBDBD to prepare a very brief presentation (5 slides max). In order to contribute to this session, there will be a special track in the EasyChair submission system
            where you can signal your willingness.
          </p>
        </div>
      </div>



      <div class="col-md-12">
        <h5 class="text-left"> Sponsors </h5>
        <div class="row pr-4 pl-5">
          <p>The DBDBD 2021 is sponsored by and organized under the auspices of
            <a href="http://www.siks.nl/" target="_blank">SIKS</a>, the
            Netherlands Research School for Information and Knowledge Systems.</p>
        </div>

        <div class="row pr-4 pl-5 justify-content-center">
          <div class="col-md-3">
            <a href="https://www.tudelft.nl/" target="_blank">
              <img src="{{site.baseurl}}/assets/img/TUD-logo.png"
                   alt="Delft centre" width="100%">
            </a>
          </div>
          <div class="col-md-3">
            <a href="http://www.siks.nl/" target="_blank">
              <img src="{{site.baseurl}}/assets/img/siks.png"
                   alt="Delft centre" width="100%">
            </a>
          </div>
        </div>


      </div>
    </div>

  </div>
</section>